.Layout{
    margin-top:40 ; 
    background-color: gray;
    color: white;
    text-align: center;
}
.Todo-bg{
    background-color: gray;
}
.textdirection{
    width: 66%;
}
.buttondirection{
    width: 20%;
}