.button-align{
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.button-color{
    color: red;
}
.tododone{
    background-color: green;
}
.todofalse{
    background-color: darkred;
}